on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version of the release"
        required: true
      buildNumber:
        description: "Build number of the release"
        required: true
  workflow_call:
    inputs:
      version:
        description: "Version of the release"
        required: true
        type: string
      buildNumber:
        description: "Build number of the release"
        required: true
        type: string

name: Release

jobs:
  release:
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: write
    steps:
      - id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # v3.2.0
        with:
          secrets: |
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-promoter access_token | artifactory_access_token;
            development/kv/data/slack webhook | slack_webhook_url;
      - uses: SonarSource/jfrog-setup-wrapper@e0f353c7f1bcc7b2f663063d72b5fec7948f6815 # v3.6.0
        with:
          jfrogAccessToken: ${{ fromJSON(steps.secrets.outputs.vault).artifactory_access_token }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Fetch history
        run: git fetch --prune --unshallow
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache_save: false
          version: 2025.7.12
      - name: Promote
        run: jf rt build-promote --status released "${{ github.event.repository.name }}" "${{ inputs.buildNumber }}" sonarsource-helm-releases
      - name: Create local repository directory
        id: local_repo
        run: echo "dir=$(mktemp -d repo.XXXXXXXX)" >> "$GITHUB_OUTPUT"
      - uses: SonarSource/gh-action_release/download-build@b9284ef49674428c976147100b9072f74427fbc7 # v6.3.0
        with:
          local-repo-dir: ${{ steps.local_repo.outputs.dir }}
          remote-repo: sonarsource-helm
          build-number: ${{ inputs.buildNumber }}
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # v2.11.2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: ${{ steps.local_repo.outputs.dir }}/*
          tag: ${{ inputs.version }}
          overwrite: true
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Release to GitHub
        uses: ./.github/actions/helm-index
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          repository-name: "${{ github.event.repository.name }}"
          package-path: ${{ steps.local_repo.outputs.dir }}
          release-name: "${{ inputs.version}}"
